:root{
    --main-color: #665e2f;
    --yellow_white: #fefaf1;
    --lighr_red: #a75b41;
    --light_yellow: #a79686;
}
body{
 background-color: var(--yellow_white);   
}
@font-face {
    font-family: "coralSerif";
    src: url(../fonts/CoralBlushSerif.otf);
}
@font-face {
    font-family: "coralScript";
    src: url(../fonts/CoralBlushScript.otf);
}
@font-face {
    font-family: "coralScriptAlt";
    src: url(../fonts/CoralBlushScriptAlt.otf);
}

/* utilities start  */
.white_color{
    color: white !important;
}
.main_color{
    color: var(--main-color);
}
.coral_serif{
    font-family: 'coralSerif', sans-serif;
}
.coral_script{
    font-family: 'coralScript', sans-serif;
}
.coral_script_alt{
    font-family: 'coralScriptAlt', sans-serif;
}
.font_bold{
    font-weight: bold !important;
}

.position_relative{
    position: relative;
}
.yellow_color{
    color: #f1d47b;
}
.brown_col{
    color: var(--lighr_red);
}
.width_100{
    width: 100% !important;
}
.serif_f_s_large{
    font-size: 65px;
}
/* utilities end */

/* home  */
.header{
    background-color: var(--main-color);
    padding: 10px 60px;
}
.header_content{
    justify-content: space-between;
}
.header_logo img{
    max-width: 90px;
}
.header_icon i{
    font-size: 24px;
}
.header_banner img{
    width: 100%;
    height: 80vh;
}
.header{
    position: sticky;
    top: 0;
    z-index: 999;
}


.banner_down_img img{
    width: 100%;
    height: 85vh;
}
.banner_down_img::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--yellow_white);
    opacity: .9;
}
.banner_large_txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.script_f_s{
    font-size: 111px;
}

.serif_f_s{
    font-size: 50px;
}

.luxary_studio{
    background-color: var(--main-color);
    padding: 30px 0;
}
.studio_img img{
    border-radius: 21px;
    cursor: pointer;
}
.all_btn{
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.studio_btn{
    background-color:var(--light_yellow);
}
.vector_img{
    position: absolute;
}
.studio_btn .vector_img,.live_tv_btn .vector_img{
    bottom: 3%;
}
.studio_btn .vector_img img , .live_tv_btn .vector_img img{
    max-width: 110px;
    overflow: hidden;
    transform: rotate(10deg);
}
.btn_txt{
    position: absolute;
    top: 0;
}
.follo_us_bottom{
    position: absolute;
    bottom: 0;
    right: 3%;
}
.follo_us_top{
    position: absolute;
    top: 0;
    right: 2%;
}
.FOLLOW_US_SCRIPT{
    font-size: 70px;
}
.follow_us_txt{
    position: absolute;
    top: 4%;
    left: 2%;
}

.live_tv{
    background: url('../img/patteren.jpg') no-repeat center center fixed;;
  background-size: cover;
  height: 100%;
  overflow: hidden;
    padding: 20px 0;
}
.live_tv_btn{
    background-color: var(--lighr_red);
    position: absolute;
    bottom: 4%;
    right: -7%;
}
.live_v_gif img{
    width: 100%;
}
.live_tv_txt{
    position: absolute;
    top: 7%;
    left: 12%;
}
/* home end  */